@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

/* @font-face {
  font-family: 'Segoe UI';
  src: url('./font/SegoeUI-BoldItalic.eot');
  src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
      url('SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('SegoeUI-BoldItalic.woff2') format('woff2'),
      url('SegoeUI-BoldItalic.woff') format('woff'),
      url('SegoeUI-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./font/SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'),
      url('SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('SegoeUI.woff2') format('woff2'),
      url('SegoeUI.woff') format('woff'),
      url('SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./font/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
      url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('SegoeUI-SemiBold.woff2') format('woff2'),
      url('SegoeUI-SemiBold.woff') format('woff'),
      url('SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./font/SegoeUI-Light.eot');
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
      url('SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
      url('SegoeUI-Light.woff2') format('woff2'),
      url('SegoeUI-Light.woff') format('woff'),
      url('SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./font/SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
      url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
      url('SegoeUI-Bold.woff2') format('woff2'),
      url('SegoeUI-Bold.woff') format('woff'),
      url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./font/SegoeUI-Italic.eot');
  src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
      url('SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
      url('SegoeUI-Italic.woff2') format('woff2'),
      url('SegoeUI-Italic.woff') format('woff'),
      url('SegoeUI-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  background: #F7FBFC;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


a:-webkit-any-link {
  cursor: pointer;
}

a:-webkit-any-link:focus-visible {
  outline-offset: 1px;
}

a:hover {
  opacity: .8;
}

a {
  color: inherit;
  text-decoration: none;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}